<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        {{> header}}
        <title>Customers</title>
    </head>
    <body>
        {{> menu}}
        <h1 class="texto_centrado">Customers</h1>
        <div class="contenido">
            {{#each customers}}
                <p>{{first_name}} {{last_name}}</p>
                <ul>
                    {{#each rentals}}
                        <li>{{title}}</li>
                    {{/each}}
                </ul>
            {{/each}}
        </div>
        {{> footer}}
    </body>
</html>